<nav>
  <ul>
    <li><a href="/index"> <img class="logo" src="/public/favicon.png"</a></li>
    <li>Guide</li>
    <li><a href="/login">Logg in</a></li>
    <!-- <a href="/login"><li>Logg inn</li></a> -->
  </ul>
</nav>
