<%- include("./partials/head")%>

<body>
  <%- include("./partials/nav")%>

  <div class="gridcontainer">
    <div class="aside">
      <a href="#tittel1">
        <p>Tittel1</p>
      </a>  
       <a href="#tittel2"></a>
        <p>Tittel2</p>
      </a>      
       <a href="#tittel3"></a>
        <p>Lorem ipsum</p>
      </a>
      <a href="#tittel4"></a>
      <p>Lorem ipsum</p>
    </a>
    <a href="#tittel5"></a>
    <p>Lorem ipsum</p>
  </a>

    </div>

    <div class="maincontainer">
      <h1>Guide to the galaxy</h1>
      <h2>Tittel1</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, at sint? Voluptate, quae. Necessitatibus vel ad facere quasi. Tempore consequuntur iusto fugit, provident fuga asperiores delectus voluptates itaque alias quia.
        Delectus aperiam consequatur veritatis illo repellendus voluptates molestiae totam ipsum architecto iusto. Sed vero officia ab delectus tempora, tempore, maiores, veniam perferendis quidem quos earum provident cum voluptas accusamus pariatur.
        Harum animi cum quibusdam voluptatibus quis et quas saepe nobis explicabo sit dolorem debitis temporibus nesciunt repellat, voluptas quo, quidem, accusantium incidunt! Maiores totam fugiat earum, cumque optio voluptate recusandae?
        Dolor dolorem beatae nisi qui! Voluptas aliquam molestiae dolores est dicta eveniet quos iure sequi tempora nulla, ducimus cum, ab aliquid voluptatum deserunt ullam vitae culpa officia pariatur suscipit cupiditate!
        Mollitia doloremque libero perspiciatis quidem adipisci error, eaque veniam tenetur, fuga modi, quos nihil. Adipisci rerum doloribus cumque in fugit soluta beatae, consequuntur ducimus possimus cupiditate, minima vero iusto. Perferendis?
        Officia voluptate quibusdam cupiditate accusantium sed deserunt temporibus illum libero quam quaerat unde beatae incidunt suscipit totam sequi esse, pariatur aliquam facilis omnis veniam. Illo nulla ut atque voluptates alias.
        Consectetur provident vel possimus qui quibusdam exercitationem! Porro delectus laudantium nulla beatae inventore nostrum quam excepturi. Voluptate nostrum, eveniet unde magni cupiditate eos ad, aspernatur enim expedita dolorum illum reprehenderit.
        Quas dicta earum cumque fuga, culpa voluptatibus nesciunt esse officia iste praesentium quos eligendi, sequi quaerat! Reiciendis illum cum eveniet tempore magnam est ea magni ab nisi aspernatur, doloribus molestiae.
        Dignissimos, laudantium? Esse, obcaecati ex! Aperiam laboriosam ipsam nesciunt praesentium perspiciatis voluptatum reiciendis unde suscipit, blanditiis fuga possimus labore quis magnam, tenetur enim, eveniet et quas cumque ipsum id in?
        Magni voluptatem voluptate, labore voluptas a sunt incidunt dolor iste, consequatur illum voluptatibus cupiditate quam placeat perferendis fugit laborum saepe? Ullam aliquam quae provident natus architecto maxime accusantium consectetur error!
      </p>
      
      <h2>Tittel2</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, at sint? Voluptate, quae. Necessitatibus vel ad facere quasi. Tempore consequuntur iusto fugit, provident fuga asperiores delectus voluptates itaque alias quia.
        Delectus aperiam consequatur veritatis illo repellendus voluptates molestiae totam ipsum architecto iusto. Sed vero officia ab delectus tempora, tempore, maiores, veniam perferendis quidem quos earum provident cum voluptas accusamus pariatur.
        Harum animi cum quibusdam voluptatibus quis et quas saepe nobis explicabo sit dolorem debitis temporibus nesciunt repellat, voluptas quo, quidem, accusantium incidunt! Maiores totam fugiat earum, cumque optio voluptate recusandae?
        Dolor dolorem beatae nisi qui! Voluptas aliquam molestiae dolores est dicta eveniet quos iure sequi tempora nulla, ducimus cum, ab aliquid voluptatum deserunt ullam vitae culpa officia pariatur suscipit cupiditate!
        Mollitia doloremque libero perspiciatis quidem adipisci error, eaque veniam tenetur, fuga modi, quos nihil. Adipisci rerum doloribus cumque in fugit soluta beatae, consequuntur ducimus possimus cupiditate, minima vero iusto. Perferendis?
        Officia voluptate quibusdam cupiditate accusantium sed deserunt temporibus illum libero quam quaerat unde beatae incidunt suscipit totam sequi esse, pariatur aliquam facilis omnis veniam. Illo nulla ut atque voluptates alias.
        Consectetur provident vel possimus qui quibusdam exercitationem! Porro delectus laudantium nulla beatae inventore nostrum quam excepturi. Voluptate nostrum, eveniet unde magni cupiditate eos ad, aspernatur enim expedita dolorum illum reprehenderit.
        Quas dicta earum cumque fuga, culpa voluptatibus nesciunt esse officia iste praesentium quos eligendi, sequi quaerat! Reiciendis illum cum eveniet tempore magnam est ea magni ab nisi aspernatur, doloribus molestiae.
        Dignissimos, laudantium? Esse, obcaecati ex! Aperiam laboriosam ipsam nesciunt praesentium perspiciatis voluptatum reiciendis unde suscipit, blanditiis fuga possimus labore quis magnam, tenetur enim, eveniet et quas cumque ipsum id in?
        Magni voluptatem voluptate, labore voluptas a sunt incidunt dolor iste, consequatur illum voluptatibus cupiditate quam placeat perferendis fugit laborum saepe? Ullam aliquam quae provident natus architecto maxime accusantium consectetur error!
      </p>

    </div>
  </div>
</body>
