<%- include("./partials/head")%>
<body>
<%- include("./partials/nav")%>

<div class="search-container">
            <form action="">
                <input type="text" placeholder="Search...">
                <Button type="submit">Search</Button>
            </form>            
        </div>

    <main>
        
        

        <div class="guidecontainers">
            <a href="/guide"><div class="guidecontainer"></div></a>
            <a href="/nyguide"><div class="guidecontainer"></div></a>
            <a href=""><div class="guidecontainer"></div></a>
            <a href=""><div class="guidecontainer"></div></a>
            <a href=""><div class="guidecontainer"></div></a>
            <a href=""><div class="guidecontainer"></div></a>
            <a href=""><div class="guidecontainer"></div></a>
            
        </div>
     

    </main>
    
    
</body>
</html>