<%- include("./partials/head")%>

<body>
   <%- include("./partials/nav")%>

   <h1>Logg in</h1>

   <div class="loginbox">
      <form class="" metod="Post">
         <div class="inputbox">

            <input id="email" type="email" placeholder="email">
         </div>
         <div class="inputbox">
            <input id="passord" type="passord" placeholder="passord">
            </div>

      </form>
   </div>

   <button onclick="loggin()">Logg inn</button>
   <a href="/createuser">Ny burker?</a>









</body>
