:root {
    ----primary-color:#ffd6ff;
    --secondary-color:#c8b6ff;
}


body {
    margin: 0;
}

nav,ul,li,main,.guidecontainers {
    display:flex
}

main {
    min-height: 800px;
}
nav {
     width: 100%;
     background-color:#ffd6ff;
     
}

ul {
    width: 100%;
    justify-content: space space-evenly;

}

li:first-child {
    flex-grow: 2;
    padding: 0px;
}

li {
    padding: 0px 50px;
}



.guidecontainers {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
    align-content: center;
}

.guidecontainer {
    width: 300px;
    height: 150px;
    border: 3px solid #c8b6ff;
    border-radius: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-left: 30px;
    margin-top: 40px;
}

input[type="text"], input[type="password"] {
    width: 300px;
}

.flexwrapper {

    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
    

}

input {
    display: flex;
}


.formcontainer {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 400px;
    display: flex;
    flex-direction: column;
}


.gridcontainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    "aside main main main main"
    ;
    min-height: 1000px;
}

.aside {
    grid-area: aside;
    background-color:#ffd6ff ;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

}

.maincontainer {

    grid-area: main;
}


.addnewsection, .addnewselection {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;


}

.section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}